In [1]:
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split
import os
os.listdir('sample_data')
import pandas as pd

In [18]:
Tweets = pd.read_csv('sample_data/Tweets.csv')
Tweets.tail() #melihat detail 5 data terakhir

                 tweet_id  ...               user_timezone
14635  569587686496825344  ...                         NaN
14636  569587371693355008  ...                         NaN
14637  569587242672398336  ...                         NaN
14638  569587188687634433  ...  Eastern Time (US & Canada)
14639  569587140490866689  ...                         NaN

[5 rows x 15 columns]

In [19]:
# menjalankan proses one-hot-encoding dan membuat df baru
del Tweets['tweet_id']
del Tweets['retweet_count']
del Tweets['tweet_created']
del Tweets['tweet_location']
Tweets.rename(columns={'airline_sentiment': 'sentiment'}, inplace=True) #mengubah nama kolom df
category = pd.get_dummies(Tweets.sentiment)
df_new = pd.concat([Tweets, category], axis=1)
df_new = df_new.drop(columns='sentiment')
df_new

       airline_sentiment_confidence          negativereason  ...  neutral positive
0                            1.0000                     NaN  ...        1        0
1                            0.3486                     NaN  ...        0        1
2                            0.6837                     NaN  ...        1        0
3                            1.0000              Bad Flight  ...        0        0
4                            1.0000              Can't Tell  ...        0        0
...                             ...                     ...  ...      ...      ...
14635                        0.3487                     NaN  ...        0        1
14636                        1.0000  Customer Service Issue  ...        0        0
14637                        1.0000                     NaN  ...        1        0
14638                        1.0000  Customer Service Issue  ...        0        0
14639                        0.6771                     NaN  ...        1        0

[14640 rows x 13 columns]

In [22]:
# mengubah nilai dari df kedalam tipe data np
text = df_new['text'].values
label = df_new[['negative', 'neutral', 'positive']].values

# membagi dataset
text_training, text_test, label_training, label_test = train_test_split(text, label, test_size=0.2)

In [23]:
#tokenisasi agar teks dipahami model
tokenizer = Tokenizer(num_words=5000, oov_token='x')
tokenizer.fit_on_texts(text_training)
tokenizer.fit_on_texts(text_test)

sequence_training = tokenizer.texts_to_sequences(text_training)
sequence_test = tokenizer.texts_to_sequences(text_test)

padded_training = pad_sequences(sequence_training)
padded_test = pad_sequences(sequence_test)

In [24]:
model = tf.keras.Sequential([
                             tf.keras.layers.Embedding(input_dim=5000, output_dim=16),
                             tf.keras.layers.LSTM(64),
                             tf.keras.layers.Dense(128, activation='relu'),
                             tf.keras.layers.Dense(64, activation='relu'),
                             tf.keras.layers.Dense(3, activation='softmax')
])

In [25]:
model.compile(loss='categorical_crossentropy',
              optimizer='Adam',
              metrics=['accuracy'])

In [26]:
# melatih model
num_epochs = 40
history = model.fit(padded_training, label_training, epochs=num_epochs,
                    validation_data=(padded_test, label_test), verbose=2)

Epoch 1/40
366/366 - 10s - loss: 0.6996 - accuracy: 0.6963 - val_loss: 0.5878 - val_accuracy: 0.7579
Epoch 2/40
366/366 - 7s - loss: 0.4814 - accuracy: 0.8061 - val_loss: 0.5250 - val_accuracy: 0.7995
Epoch 3/40
366/366 - 7s - loss: 0.3688 - accuracy: 0.8582 - val_loss: 0.5543 - val_accuracy: 0.7988
Epoch 4/40
366/366 - 7s - loss: 0.2948 - accuracy: 0.8910 - val_loss: 0.5603 - val_accuracy: 0.7869
Epoch 5/40
366/366 - 7s - loss: 0.2472 - accuracy: 0.9115 - val_loss: 0.6519 - val_accuracy: 0.7971
Epoch 6/40
366/366 - 7s - loss: 0.2004 - accuracy: 0.9308 - val_loss: 0.6906 - val_accuracy: 0.7794
Epoch 7/40
366/366 - 7s - loss: 0.1671 - accuracy: 0.9425 - val_loss: 0.7328 - val_accuracy: 0.7715
Epoch 8/40
366/366 - 7s - loss: 0.1396 - accuracy: 0.9520 - val_loss: 0.8439 - val_accuracy: 0.7790
Epoch 9/40
366/366 - 7s - loss: 0.1209 - accuracy: 0.9600 - val_loss: 0.9601 - val_accuracy: 0.7780
Epoch 10/40
366/366 - 7s - loss: 0.0989 - accuracy: 0.9671 - val_loss: 1.0655 - val_accuracy: 0.7753
Epoch 11/40
366/366 - 7s - loss: 0.0792 - accuracy: 0.9747 - val_loss: 1.0994 - val_accuracy: 0.7620
Epoch 12/40
366/366 - 7s - loss: 0.0747 - accuracy: 0.9747 - val_loss: 1.3020 - val_accuracy: 0.7637
Epoch 13/40
366/366 - 7s - loss: 0.0704 - accuracy: 0.9751 - val_loss: 1.3214 - val_accuracy: 0.7483
Epoch 14/40
366/366 - 7s - loss: 0.0634 - accuracy: 0.9785 - val_loss: 1.5246 - val_accuracy: 0.7664
Epoch 15/40
366/366 - 7s - loss: 0.0546 - accuracy: 0.9824 - val_loss: 1.5978 - val_accuracy: 0.7708
Epoch 16/40
366/366 - 7s - loss: 0.0533 - accuracy: 0.9820 - val_loss: 1.5636 - val_accuracy: 0.7681
Epoch 17/40
366/366 - 7s - loss: 0.0508 - accuracy: 0.9836 - val_loss: 1.5641 - val_accuracy: 0.7626
Epoch 18/40
366/366 - 7s - loss: 0.0414 - accuracy: 0.9855 - val_loss: 1.7286 - val_accuracy: 0.7555
Epoch 19/40
366/366 - 7s - loss: 0.0398 - accuracy: 0.9866 - val_loss: 2.1656 - val_accuracy: 0.7630
Epoch 20/40
366/366 - 7s - loss: 0.0486 - accuracy: 0.9836 - val_loss: 1.8670 - val_accuracy: 0.7626
Epoch 21/40
366/366 - 7s - loss: 0.0469 - accuracy: 0.9837 - val_loss: 1.9245 - val_accuracy: 0.7596
Epoch 22/40
366/366 - 7s - loss: 0.0384 - accuracy: 0.9863 - val_loss: 1.8168 - val_accuracy: 0.7606
Epoch 23/40
366/366 - 7s - loss: 0.0348 - accuracy: 0.9875 - val_loss: 1.8595 - val_accuracy: 0.7544
Epoch 24/40
366/366 - 7s - loss: 0.0322 - accuracy: 0.9898 - val_loss: 2.1997 - val_accuracy: 0.7664
Epoch 25/40
366/366 - 7s - loss: 0.0290 - accuracy: 0.9909 - val_loss: 2.5481 - val_accuracy: 0.7599
Epoch 26/40
366/366 - 7s - loss: 0.0370 - accuracy: 0.9879 - val_loss: 2.2474 - val_accuracy: 0.7589
Epoch 27/40
366/366 - 7s - loss: 0.0355 - accuracy: 0.9877 - val_loss: 2.1814 - val_accuracy: 0.7722
Epoch 28/40
366/366 - 7s - loss: 0.0327 - accuracy: 0.9886 - val_loss: 2.2225 - val_accuracy: 0.7517
Epoch 29/40
366/366 - 7s - loss: 0.0268 - accuracy: 0.9908 - val_loss: 2.4606 - val_accuracy: 0.7678
Epoch 30/40
366/366 - 7s - loss: 0.0204 - accuracy: 0.9924 - val_loss: 2.8383 - val_accuracy: 0.7599
Epoch 31/40
366/366 - 7s - loss: 0.0238 - accuracy: 0.9916 - val_loss: 2.4812 - val_accuracy: 0.7647
Epoch 32/40
366/366 - 7s - loss: 0.0277 - accuracy: 0.9898 - val_loss: 2.6677 - val_accuracy: 0.7561
Epoch 33/40
366/366 - 7s - loss: 0.0322 - accuracy: 0.9880 - val_loss: 2.2217 - val_accuracy: 0.7295
Epoch 34/40
366/366 - 7s - loss: 0.0339 - accuracy: 0.9883 - val_loss: 2.3415 - val_accuracy: 0.7555
Epoch 35/40
366/366 - 7s - loss: 0.0240 - accuracy: 0.9914 - val_loss: 2.6602 - val_accuracy: 0.7565
Epoch 36/40
366/366 - 7s - loss: 0.0187 - accuracy: 0.9937 - val_loss: 2.8687 - val_accuracy: 0.7637
Epoch 37/40
366/366 - 7s - loss: 0.0151 - accuracy: 0.9941 - val_loss: 3.1202 - val_accuracy: 0.7548
Epoch 38/40
366/366 - 7s - loss: 0.0204 - accuracy: 0.9927 - val_loss: 2.6367 - val_accuracy: 0.7394
Epoch 39/40
366/366 - 7s - loss: 0.0237 - accuracy: 0.9909 - val_loss: 2.6221 - val_accuracy: 0.7527
Epoch 40/40
366/366 - 7s - loss: 0.0362 - accuracy: 0.9875 - val_loss: 2.3725 - val_accuracy: 0.7541